#app-background {
	/*background-image: url('http://motionbank-media.s3.amazonaws.com/dh/app/imgs/backs/background-1.jpg');*/
  background: -webkit-radial-gradient(45px 45px, cover, #666 0%, #222 100%);
  background: -moz-radial-gradient(45px 45px, cover, #666 0%, #222 100%);
  background: radial-gradient(45px 45px, cover, #666 0%, #222 100%);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	width: 100%;
	height: 100%;

	z-index: -1000;
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}

#app-wrapper {
	width: 100%;
	height: 100%;
}

#logo {
	position: absolute;
	z-index: 1000;
	left: 18px;
	top: 9px;
	background-repeat: no-repeat;
}

#app {
	height: 100%;
}