#header-container {

	position: relative;

	display: block;
	height: 58px;

	color: white;
	border-bottom: 1px solid rgba(255,255,255,0.5);

	/*background-color: rgb(238, 238, 238); 
	background-image: linear-gradient(bottom, rgb(210, 210, 210) 11%, rgb(238, 238, 238) 77%);
	background-image: -o-linear-gradient(bottom, rgb(210, 210, 210) 11%, rgb(238, 238, 238) 77%);
	background-image: -moz-linear-gradient(bottom, rgb(210, 210, 210) 11%, rgb(238, 238, 238) 77%);
	background-image: -webkit-linear-gradient(bottom, rgb(210, 210, 210) 11%, rgb(238, 238, 238) 77%);
	background-image: -ms-linear-gradient(bottom, rgb(210, 210, 210) 11%, rgb(238, 238, 238) 77%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.77, rgb(238, 238, 238)),
		color-stop(0.11, rgb(210, 210, 210))
	);*/
	
	/*background-color: rgba(80,80,80,0.8);*/

	font-family: 'Open Sans';
	font-weight: 300; /* book */
}

#main-menu {
	position: relative;
	width:320px;
	top:12px;
	margin:0 auto;
	letter-spacing: 0.05em;
	left:116px;
	z-index: 999999; /* really above everything else */
	display: none;
}

/* menu header item */
#main-menu .head-item:before {
	content:'⌵';
	position: absolute;
	right:1em;
}

/* background color */
#main-menu .head-item, #main-menu .dropdown li {
	background-color:rgba(59, 66, 65, 0.97);
}

/* make the link span the whole width */
#main-menu li a, #main-menu .head-item {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 0.5em 1em;
}

/* hover over dropdown items */
#main-menu .dropdown li:hover {
	background-color: black;
}

/* closed menu */
#main-menu .dropdown ul {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
	position: absolute;
	width: 100%;
}
/*  open menu */
#main-menu .dropdown:hover ul, #main-menu.open .dropdown ul {
	visibility: visible;
	opacity: 1;
}

/* line below head-item */
#main-menu .head-item {
	border-bottom: 1px solid rgba(255,255,255,0);
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
	cursor: default;
}
#main-menu .dropdown:hover .head-item, #main-menu.open .head-item {
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

/* add a 50px tolerance zone */
#main-menu .dropdown ul {	
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	border:50px solid transparent; 
	border-top:none;
	left:-50px;
}

/* hide hidden elements */
#main-menu li.hidden {
	display: none;
}

/* current menu item */
#main-menu li.current {
	font-weight: bold;
	display: list-item;
}

/* special "system" links */
#main-menu li.special {
	/*text-transform: uppercase;*/
}

/*  line above this entry */
#main-menu li.line-above {
	border-top: 1px solid rgba(255,255,255,0.5);
}

/*  line below this entry */
#main-menu li.line-below {
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

/*  show/hide info link */
#main-menu li.show-info-link a:after {
	content: 'Show Info';
}

#main-menu  li.hide-info-link a:after {
	content: 'Hide Info';
}
