
#cover {
	float: left;
	padding-top: 15em;
	padding-left: 15%;

	color: white;
	font-weight: 100;
}

#cover h1 {
	font-size: 400%;
	letter-spacing: 0.15em;
	font-weight: 300;
	margin-left: -5px;
}

#cover p {
	font-size: 120%;
	letter-spacing: 1px;
	line-height: 1.4em;
	margin-top: 1.4em;
}

#cover p small{
  font-size: 100%;
  color: rgba(255,255,255,0.5);
}

@media only screen and (max-width : 1024px) {
	#cover {
		padding-top: 10em;
		padding-left: 9em;
	}
	#cover h1 {
		font-size: 270%;
	}
	#cover p {
		font-size: 90%;
	}
}

@media only screen and (max-width : 480px) {
	#cover {
		padding-top: 7em;
		padding-left: 6em;
	}
	#cover h1 {
		font-size: 200%;
	}
	#cover p {
		font-size: 70%;
	}
}