#set {
	height: 100%;
	width: 100%;

	overflow: auto; /* show scrollbar */

	position: relative;
}

/* class .no-iframe-bgs hides all iframe backgrounds. fixes problems with performers flashing the poster image on scroll-in */
#set.no-iframe-bgs .cell.type-iframe {
	background-image: none !important;
}

/* in set navigation (next, prev arrows) */
#set .pager-button {
	position: absolute;
	width:6%;
	max-width:80px;
	height:100%;
	top:0;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transition-delay: 1.5s;
	-moz-transition-delay: 1.5s;
	transition-delay: 1.5s;
	opacity: 0;
	z-index: 999999;

	height:80px;
	margin-top:-40px;
	background-color: rgba(59, 66, 65, 0.66);
	top:50%;

	visibility: hidden; /* don't trigger hover */
}

/*#set .pager-button:hover, #set.show-nav .pager-button {*/
#set.show-nav .pager-button {
	opacity:1;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	transition-delay: 0s;
	visibility: visible;
}

#set .pager-button.prev {
	left:0;
}

#set .pager-button.prev {
	background-image: url(../imgs/arr_prev_light.svg);
	background-repeat: no-repeat;
	background-position: center center;
}
#set .pager-button.first {
	background-image: url(../imgs/arr_prev_first_light.svg);
}

#set .pager-button.next {
	right:0;
}

#set .pager-button.next {
	background-image: url(../imgs/arr_next_light.svg);
	background-repeat: no-repeat;
	background-position: center center;
}
#set .pager-button.last {
	background-image: url(../imgs/arr_next_last_light.svg);
}

/* bottom pager */
/*#set .pager:hover, #set .pager {*/
#set .pager {
	width:100%;
	height: 50px;
	margin: 0 auto;
	position: absolute;
	bottom: 20px;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transition-delay: 1.5s;
	-moz-transition-delay: 1.5s;
	transition-delay: 1.5s;
	text-align: center;
	z-index: 999999;
	pointer-events:none;
	overflow: hidden; /* don't wrap when screen is too small */
	visibility: hidden; /* don't trigger hover */
}

#set.show-nav .pager {
	opacity: 1;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	transition-delay: 0s;
	visibility: visible;
}

#set .pager .page {
	width:50px;
	height:50px;
	cursor: pointer;
	position: relative;
	display: inline-block;
	background-color: rgba(59, 66, 65, 0.66);
	pointer-events:auto;
}
#set .pager .page:after {
	content: '';
	width:10px;
	height:10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: white;
	margin:20px;
	display: block;
}

#set .pager .page.current:after {
	-webkit-border-radius: 0;
	border-radius:0;
	width:10px;
	height:10px;
	margin: 15px;
	background-color: transparent;
	border: 5px solid white;
}
