
.cell-collection .cell {
	position: absolute;
	color: white;
	background-color: white;
	left: 0px;
	top: 0px;
}

.cell-collection .cell.no-img {
	color: black;
}

.cell-collection .cell h1.title {
	margin-bottom: 0px;
	overflow: hidden;
}

.cell-collection .cell h1.title {
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: 300;
	letter-spacing: 0.1em;
	line-height: 1.3;
}

.cell-collection .cell .info .description {
}

/*.cell-collection .cell .info-wrapper {
	position: absolute;
	top: 0px; left: 0px;
	right: 0px; bottom: 0px;
	background-color: rgba(0,0,0,0.5);
	display: none;
}*/

.cell-collection .cell:hover .info-wrapper {
	display: block;
}

.cell-collection .cell .info {

	font-size: 90%;
	
	position: absolute;
	top: 3em; left: 3em;
	right: 3em; bottom: 3em;

	background-color: white;
	color: black;
	padding: 1.5em;
	overflow: hidden;
	display: none;
}

.cell-collection .cell .element-hidden {
	display: none !important;
}

.cell-collection .cell.no-img .info,
.cell-collection .cell:hover .info {
	display: block;
}

/*.cell-collection .cell:hover {
	border: 1px solid white;
	padding: 0px;
}

.cell-collection .cell.active {
	border: 1px solid black;
	padding: 0px;
}*/

.cell-collection .cell.active .info-wrapper,
.cell-collection .cell.active .info {
	display: none;
}

.cell-collection .cell.cell-width-0 .info, 
.cell-collection .cell.cell-width-50 .info {
	padding: 0.5em;
	font-size: 25%;
}
.cell-collection .cell.cell-width-100 .info {
	padding: 0.5em;
	font-size: 50%;
}
.cell-collection .cell.cell-width-150 .info {
	padding: 0.75em;
	font-size: 58%;
}
.cell-collection .cell.cell-width-200 .info {
	padding: 1em;
	font-size: 66%;
}
.cell-collection .cell.cell-width-250 .info {
	padding: 1em;
	font-size: 74%;
}
.cell-collection .cell.cell-width-300 .info {
	padding: 1.25em;
	font-size: 82%;
}
.cell-collection .cell.cell-width-350 .info {
	padding: 1.25em;
	font-size: 90%;
}

.cell-collection .cell.cell-width-0 .info .description,
.cell-collection .cell.cell-width-50 .info .description,
.cell-collection .cell.cell-width-100 .info .description {
	display: none;
}

.cell-collection .cell {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: fixed;
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-background-size : cover;
	background-size : cover;

	/*background-color: #EDEDED;*/ /* Use this for all cell content bg's as well! */
}

.cell-collection .cell.type-image {
	-webkit-background-size : contain;
	-moz-background-size : contain;
	-o-background-size : contain;
	background-size : contain;
}

.cell-collection .cell.type-title {
	background-image: none;
	background-color: white;
	color: black;
}

.cell-collection .cell.type-title .info {
	display: block;
	color: black;
	background-color: white;
	padding: 3em;
	top: 0em;
	left: 0em;
	right: 0em;
	bottom: 0em;
}

/*.cell-collection .cell.type-title .info-wrapper,
.cell-collection .cell.type-text .info-wrapper {
	background-color: rgba(0,0,0,0);
	display: block;
}*/

.cell-collection .cell .content {
  width: 100%;
	height: 100%;
}

.cell-collection .cell .content iframe {
	width: 100%;
	height: 100%;
	border: 0px;
	overflow: hidden;
}

/* --- TODO: clean that tmp stuff up below */

.cell-collection .cell {
/*  border-right: 1px solid #888888;
  border-bottom: 1px solid #888888;*/
}

.cell-collection .cell.lastcol {
	border-right: 0px solid transparent;
}

.cell-collection .cell.lastrow {
	border-bottom: 0px solid transparent;
}

.cell-collection .cell .info {
	top: auto;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: white; /*rgba(255,255,255,0.7);*/
	color: black;
}

.cell-collection .cell.type-html,
.cell-collection .cell.type-text {
	color: black;
	padding: 1.5em;
}


.cell-collection .cell.type-recording:hover,
.cell-collection .cell.type-context:hover,
.cell-collection .cell.type-set-link:hover {
	cursor: pointer;
}

.cell-collection .cell.type-set-link .info,
.cell-collection .cell.with-info .info {
	display: block;
}

.cell-collection .cell .info .description {
	display: none;
}

.cell-collection .cell.type-title .info .description,
.cell-collection .cell:hover .info .description {
	display: block;
	padding-top: 0.5em;
}

#grid-view .cell {
	background-color: white;
}

/*.cell-collection .cell.type-text.with-info .info,
.cell-collection .cell.type-text .info {
	display: none;
}*/
