.cell-collection .cell.type-text, .cell-collection .cell.type-html {
	line-height: 1.67;
	letter-spacing: 0;
	color: #f5f5f5;
	font-weight: 300;
	padding:0; /* moved padding to .content (where scrollbar is) */
}

.cell-collection .cell.type-text .content, .cell-collection .cell.type-html .content {
	font-size: 15px;
	padding: 1.5em;
}

/* scrollbar */
.cell.type-text .content, .cell.type-html .content {
	overflow: auto;
}

.cell.type-text p, .cell.type-html p {
	text-indent: 6%;
}
.cell.type-text p:first-of-type, .cell.type-html p:first-of-type {
	text-indent: 0px;
}
	    
.cell.type-text h1, .cell.type-html h1 {
	font-size: 160%;
	font-weight: 600;
	margin-bottom: 0.6em;
}

.cell.type-text h2, .cell.type-html h2 {
	font-weight: 600;
	margin-bottom:0.9em;
}

.cell.type-text a, .cell.type-html a {
	text-decoration: none;
	border-bottom: 1px solid #f5f5f5;
}

/* dark version. use .text-dark on cell */
.cell.type-text.text-dark, .cell.type-html.text-dark {
	color: #1d2121;
	font-weight: 500;
}

.cell.type-text.text-dark a, .cell.type-html.text-dark a {
	border-bottom: 1px solid #1d2121;
}

.cell.type-text.text-dark h1, .cell.type-html.text-dark h1 {
	font-weight: 700;
}
.cell.type-text.text-dark h2, .cell.type-html.text-dark h2 {
	font-weight: 700;
}


/* scaling */
.cell.cell-width-0.type-text .content, .cell.cell-width-0.type-html .content,
.cell.cell-width-50.type-text .content, .cell.cell-width-50.type-html .content {
	padding: 0.5em;
	font-size: 85%;
}
.cell.cell-width-100.type-text .content, .cell.cell-width-100.type-html .content {
	padding: 0.5em;
	font-size: 85%;
}
.cell.cell-width-150.type-text .content, .cell.cell-width-150.type-html .content {
	padding: 0.5em;
	font-size: 85%;
}
.cell.cell-width-200.type-text .content, .cell.cell-width-200.type-html .content {
	padding: 0.5em;
	font-size: 85%;
}
.cell.cell-width-250.type-text .content, .cell.cell-width-250.type-html .content {
	padding: 0.75em;
	font-size: 92%;
}
.cell.cell-width-300.type-text .content, .cell.cell-width-300.type-html .content {
	padding: 1em;
	font-size: 92%;
}
.cell.cell-width-350.type-text .content, .cell.cell-width-350.type-html .content {
	padding: 1em;
	font-size: 100%;
}
.cell.cell-width-400.type-text .content, .cell.cell-width-400.type-html .content {
	padding: 1.5em;
	font-size: 100%;
}
