<!-- div class="info">
	<h1 class="title">{{#if link}}<a href="{{link}}">{{/if}}{{{title}}}{{#if link}}</a>{{/if}}</h1>
	<div class="description">{{description}}</div>
</div -->
<div class="content">{{text-content}}</div>