<div class="info element-hidden">
	<h1 class="title">{{{title}}}</h1>
	<div class="description">{{description}}</div>
</div>
<div class="content">
	<iframe src="{{iframe-src}}" {{#each iframe-attrs}}{{this}} {{/each}}></iframe>
</div>