<div class="content">

	<nav id="secondary-menu" class="right menu">
        <ul>
            <li id="toggle-set-selector-item"><a href="#set/sets" title="Click to show the set selector" data-title-set="Click to go back to the last set you looked at" data-title-selector="Click to show the set selector" ><img src="imgs/icons/change.png"/></a></li>
            <li id="show-cell-infos-item"><a href="#" title="Click to toggle cell infos"><img src="imgs/icons/info.png"/></a></li>
            <li id="go-to-help-item"><a href="#set/general-information" title="Help and general information"><img src="imgs/icons/help.png"/></a></li>
            <!-- <li id="link-to-set-item"><a href="#" title="Click to share this page"><img src="imgs/icons/link.png"/></a></li> -->
            <!-- <li id="edit-set-item"><a href="#" title="Click to edit this set"><img src="imgs/icons/edit.png"/></a></li> -->
        </ul>
    </nav>

    <h1 id="main-title">
    	<a href="#">USING THE SKY - An exploration of Deborah Hay's solo No Time To Fly by Motion Bank</a>
    </h1>

    <nav id="main-menu" class="menu element-hidden">
        <ul>
            <li><a href="http://motionbank.org/">Motion Bank main website</a></li>
        	<!-- TODO: make an accessible / SEO menu available here -->
        </ul>
    </nav>

    <div id="slider"><a href="#" title="Drag me! ... to navigate the current set"></a></div>

</div>