<h1><a href="#/set/sets">Pina Bausch SANDBOX</a></h1>
<p>This is the SANDBOX (testing environment) of a demonstration instance of the Motion Bank System (MoSys) …</p>

<div id="portal">
	<style>
		#portal .error { background-color:white; color:black; padding:1em; }
		#portal .hidden { display:none; }

		@-webkit-keyframes fade { from {opacity: 1;} to {opacity: 0;} }
		@keyframes fade { from {opacity: 1;} to {opacity: 0;} }
		#portal .loading { -webkit-animation: fade 1s infinite alternate; animation: fade 1s infinite alternate; }
	</style>

	<p class="enter">
		<a href="#/set/sets">» Enter here</a><br />
        <small>(Use most recent version of: <a href="https://www.google.com/chrome/">Chrome</a>)</small>
	</p>

	<p class="loading hidden">Loading<span id="wait">...</span></p>
	<p class="error hidden"></p>

</div>

<p><a href="mailto:feedback@motionbank.org">Need help? Get in touch with Motion Bank here.</a></p>