<h1><a href="#/set/sets">Pina Bausch Foundation</a></h1>
<p>…</p>

<div id="portal">
	<style>
		#portal .error { background-color:white; color:black; padding:1em; }
		#portal .hidden { display:none; }

		@-webkit-keyframes fade { from {opacity: 1;} to {opacity: 0;} }
		@keyframes fade { from {opacity: 1;} to {opacity: 0;} }
		#portal .loading { -webkit-animation: fade 1s infinite alternate; animation: fade 1s infinite alternate; }
	</style>

	<p class="enter">
		<a href="#/set/sets">» Enter here</a><br />
		<small>(Use most recent version of: Chrome, Firefox or Safari)</small>
	</p>

	<p class="loading hidden">
		Loading<span id="wait">...</span>
	</p>
	
	<p class="error hidden">
	</p>

</div>

<p><a href="mailto:feedback@motionbank.org">Send us feedback!</a></p>
<p>A platform created in the context of the EU project »Dance On, Pass On, Dream On«</p>