<div id="app-background"></div>

<div id="logo" data-href="http://www.janmartens.com/the-common-people-2016.html" target="_blank">
    Common People After Care
</div>
    
<nostript>
    <!-- TODO: add meaningful noscript content here!! -->
</nostript>

<div id="app-wrapper">

	<section id="app">

        <header id="header-container">
        </header>

        <div id="content-container">
    	</div>

        <footer id="footer-container" class="element-hidden">
            <!-- TODO: inprint, copyrights, sitemap, partners & sponsors, ... -->
        </footer>

    </section>

</div>

<!-- <header class="header-container" id="header-container"></header>

<div class="container outer-container">
	<div class="page-container" id="page-container">
	</div>
</div> -->
